{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'about/styles/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="about-us-title">{% trans "About us" %}</h1>
  <div class="content">
    <p class="bold-text">{% trans "Asian hand to hand Federation" %}</p>
    <p class="about-us">
      {{ about.description }}
    <p>
      <span class="bold-text">{% trans "Our goals" %}:</span>
    </p>
    <ul class="our-goals">
        {% for goal in goals %}
            <li class="goal-item">{{ goal }};</li>
        {% endfor %}
    </ul>
  </div>

  <div class="contact-info">
    <p><span class="bold-text">{% trans "Contacts" %}:</span></p>
    <p><i class="fa-solid fa-phone icons"></i> : <a class="type-connecting" href="tel:+998909323388">+998 (90)
        932-33-88</a></p>
    <p><i class="fa-brands fa-instagram icons"></i> : <a class="type-connecting"
        href="https://www.instagram.com/yourpage" target="_blank">@asian hand to hand</a></p>
    <p><i class="fa-regular fa-envelope icons"></i>: <a class="type-connecting" href="mailto:ahf_h2h@yahoo.comz target="
        _blank>ahf_h2h@yahoo.com</a></p>
    <p class="type-connecting"><i class="fa-solid fa-location-dot"></i> : {% trans "st. Labzak building 1, Tashkent, Uzbekistan" %}</p>
  </div>
</div>

{% endblock %}