{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'about/styles/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="about-us-title">{% trans "About us" %}</h1>
  <div class="content">
    <p class="bold-text">{% trans "Азиатская Федерация Рукопашного Боя" %}</p>
    <p class="about-us">


        {% blocktrans %}
          Азиатская Федерация рукопашного боя создана в 2024 году.
          Штаб-квартира Федерации находится в Ташкенте.
          Цель Федерации – развитие и популяризация рукопашного боя как вида спорта во всем мире.
          Приоритетной задачей Федерации является включение рукопашного боя в список олимпийских и азиатскиx видов спорта.
        {% endblocktrans %}
    </p>
    <p class="about-us">
        {% blocktrans %}
          Международная Федерация рукопашного боя проводит чемпионаты, турниры, судейские и обучающие семинары, показательные
          выступления в разных странах мира, сотрудничая со спортсменами из других видов единоборств.
        {% endblocktrans %}
    </p>
    <p>
      <span class="bold-text">{% trans "Наши цели" %}:</span>
    </p>
    <ul class="our-goals">
      <li class="goal-item">{% trans "Продвижение рукопашного боя как вида спорта" %};</li>
      <li class="goal-item">{% trans "Организация соревнований и мероприятий для всех возрастов и уровней подготовки" %};
      </li>
      <li class="goal-item">{% trans "Сотрудничество с международными организациями для обмена опытом и знаниями" %};</li>
      <li class="goal-item">{% trans "Поддержка молодых спортсменов и тренеров" %}.</li>
    </ul>
  </div>

  <div class="contact-info">
    <p><span class="bold-text">{% trans "Контакты" %}:</span></p>
    <p><i class="fa-solid fa-phone icons"></i> : <a class="type-connecting" href="tel:+998909323388">+998 (90) 932-33-88</a></p>
    <p><i class="fa-brands fa-instagram icons"></i> : <a class="type-connecting" href="https://www.instagram.com/yourpage" target="_blank">@asian hand to hand</a></p>
    <p><i class="fa-regular fa-envelope icons"></i>: <a class="type-connecting" href="mailto:ahf_h2h@yahoo.comz target=" _blank>ahf_h2h@yahoo.com</a></p>
    <p class="type-connecting"><i class="fa-solid fa-location-dot"></i> : {% trans "ул. Лабзак дом.1, г. Ташкент, Узбекистан" %}</p>
  </div>
</div>

{% endblock %}