{% extends "base/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'antidoping/styles/antidoping.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <div class="management-wrapper">
        <h1 class="antidoping-title">{% trans "Anti-doping" %}</h1>
        <p class="doping-title"><strong>{% trans "Doping" %}</strong> - {% trans "this is the commission of one or more anti-doping rule violations" %}
            <a class="doping-rules" href="../files/doping.pdf">11 {% trans "rules" %} </a>
        </p>
        <p class="doping-info">
            {% blocktrans %}
            Usually doping refers to drugs of a pharmacological nature,
            which increase the body's endurance, have a special effect on the muscular
            and even mental system of an athlete. Prohibited drugs are usually divided into
            several groups depending on the nature of their effect.
            {% endblocktrans %}
        </p>
        <a href="https://rusada.ru/doping-control/investigations/report-about-doping/" target="_blank"
            class="link-button">{% trans "Report the use of prohibited drugs" %}</a>
        <h3 class="internationla-documents-title">{% trans "International documents regulating anti-doping activities" %}.</h3>
        <a href="../files/international-standart.pdf" target="_blank" class="international-standart">
            {% trans "International Standard for Conformity" %} 2024</a>
        <a href="../files/international-standart-2.pdf" target="_blank" class="international-standart">
            {% trans "International standard for the protection of privacy and personal information" %}</a>
        <a href="../files/international-standart-3.pdf" target="_blank" class="international-standart">
            {% trans "International standard for processing results" %} 2023</a>
        <a href="../files/international-standart-4.pdf" target="_blank" class="international-standart">
            {% trans "International Education Standard January" %} 2021</a>
        <a href="../files/international-standart-5.pdf" target="_blank" class="international-standart">
            {% trans "International Standard for Testing and Investigation" %} 2023</a>
        <a href="../files/international-standart-6.pdf" target="_blank" class="international-standart">
            {% trans "International Standard for Therapeutic Use Exemptions" %} 2023</a>
        <a href="../files/international-standart-7.pdf" target="_blank" class="international-standart">
            {% trans "Prohibited list" %} 2024</a>
        <a href="../files/international-standart-8.pdf" target="_blank" class="international-standart">
            {% trans "Overview of the main changes" %} 2024</a>
        <a href="../files/international-standart-9.pdf" target="_blank" class="international-standart">
            {% trans "Monitoring program" %} 2024</a>
        <a href="../files/international-standart-10.pdf" target="_blank" class="international-standart">
            {% trans "Prohibited list" %} 2025</a>
        <a href="../files/international-standart-11.pdf" target="_blank" class="international-standart">
            {% trans "Overview of the main changes to the Legislative Assembly" %} 2025</a>
        <h3 class="internationla-documents-title">{% trans "For athletes" %}</h3>
        <a href="https://rusada.ru/athletes/retirement/" target="_blank" class="international-standart">
            {% trans "Ending and resuming a sports career" %}</a>
        <a href="../files/Disqualified-athletes.pdf" target="_blank" class=" international-standart">
            {% trans "Disqualified athletes" %}</a>
        <a href="https://www.rusada.ru/athletes/testing-pools-and-location-information/" target="_blank"
            class="international-standart">{% trans "Pools testing and location information" %}</a>
        <a href="https://www.rusada.ru/athletes/rights-and-obligations/" target="_blank"
            class="international-standart">{% trans "Athletes' Anti-Doping Rights Act and Athletes' Rights Handbook"%}</a>
    </div>
</div>

{% endblock %}