{% extends "base/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'command/style/command.css' %}">
<script type="text/javascript" src="{% static 'command/js/command.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="about-us-wrapper">
        <div class="about-us-f">
            <p class="about-us-info">Международная Федерация рукопашного боя создана в 2006 году.
                Штаб квартира Федерации находится в Москве. <br>
                Цель Федерации - развитие и популяризация рукопашного боя как вида спорта во всем мире.
                Приоритетной задачей Федерации является включение рукопашного боя в список олимпийских видов спорта.
                Международная Федерация рукопашного боя проводит чемпионаты, турниры, судейские и обучайщие семинары,
                показательные выступления в разных странах мира, сотрудничая со спортсменами из других видов
                единоборств.
            </p>
        </div>
        <div class="hidden-part-wrapper" id="hidden-part-wrapper">
            <div class="management-wrapper">
                <button class="management-title">Азиатская федерация</button>
                <div class="hidden-box">
                    <h2 class="management-description asian-menegment">Основные задачи федерации: развитие рукопашного боя,
                        организация и проведение спортивных и тренировочных мероприятий, привлечение новых членов
                        из Азиатских стран.</h2>
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">Руководство</button>
                <div class="hidden-box closed">
                    <h2 class="management-description">Исполнительный коммитет</h2>
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">Президум</button>
                <div class="hidden-box closed">
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}