{% extends "base/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'command/style/command.css' %}">
<script type="text/javascript" src="{% static 'command/js/command.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="about-us-wrapper">
        <div class="about-us-f">
            <p class="about-us-info">{% trans "The International Federation of Hand-to-Hand Combat was founded in 2006"%}.
                {% trans "The Federation's headquarters are located in Moscow." %}. <br>
                {% blocktrans %}
                The goal of the Federation is to develop and popularize hand-to-hand combat as a sport throughout the
                world.
                The priority task of the Federation is to include hand-to-hand combat in the list of Olympic sports.
                The International Federation of Hand-to-Hand Combat holds championships, tournaments, referee and
                training seminars,
                demonstration performances in different countries of the world, cooperating with athletes from other
                types of martial arts.
                {% endblocktrans %}
            </p>
        </div>
        <div class="hidden-part-wrapper" id="hidden-part-wrapper">
            <div class="management-wrapper">
                <button class="management-title">{% trans "Management" %}</button>
                <div class="hidden-box">
                    <ul class="management-description-list">
                        {% for employee in management %}
                            <li class="manegement-description-item">
                                <div class="description-img-wrapper">
                                    <img src="{{ employee.image.url }}" alt="" class="description-img">
                                </div>
                                <div class="description-details">
                                    <div class="description-surname">{{ employee.first_name }}</div>
                                    <div class="description-name">{{ employee.last_name }}</div>
                                    <div class="description-position">{{ employee.responsibility }}</div>
                                    <div class="description-country">{{ employee.federation }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">{% trans "Committee" %}</button>
                <div class="hidden-box closed">
                    <ul class="management-description-list">
                        {% for employee in committee %}
                            <li class="manegement-description-item">
                                <div class="description-img-wrapper">
                                    <img src="{{ employee.image.url }}" alt="" class="description-img">
                                </div>
                                <div class="description-details">
                                    <div class="description-surname">{{ employee.first_name  }}</div>
                                    <div class="description-name">{{ employee.last_name}}</div>
                                    <div class="description-position">{{ employee.responsibility }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">{% trans "Presidium" %}</button>
                <div class="hidden-box closed">
                    <ul class="management-description-list">
                        {% for employee in presidium %}
                            <li class="manegement-description-item">
                                <div class="description-img-wrapper">
                                    <img src="{{ employee.image.url }}" alt="" class="description-img">
                                </div>
                                <div class="description-details">
                                    <div class="description-surname">{{ employee.first_name }}</div>
                                    <div class="description-name">{{ employee.last_name }}</div>
                                    <div class="description-position">{{ employee.responsibility }}</div>
                                    <div class="description-country">{{ employee.federation }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}