{% extends "base/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'command/style/command.css' %}">
<script type="text/javascript" src="{% static 'command/js/command.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="about-us-wrapper">
        <div class="about-us-f">
            <p class="about-us-info">{% trans "The International Federation of Hand-to-Hand Combat was founded in 2006" %}.
                {% trans "The Federation's headquarters are located in Moscow." %}. <br>
                {% blocktrans %}
                The goal of the Federation is to develop and popularize hand-to-hand combat as a sport throughout the world.
                The priority task of the Federation is to include hand-to-hand combat in the list of Olympic sports.
                The International Federation of Hand-to-Hand Combat holds championships, tournaments, referee and training seminars,
                demonstration performances in different countries of the world, cooperating with athletes from other types of martial arts.
                {% endblocktrans %}
            </p>
        </div>
        <div class="hidden-part-wrapper" id="hidden-part-wrapper">
            <div class="management-wrapper">
                <button class="management-title">{% trans "Management" %}</button>
                <div class="hidden-box">
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Мирзакулов" %} </div>
                                <div class="description-name">{% trans "Бахтиер Чориевич" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Азиатской Федерации" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Синде" %}</div>
                                <div class="description-name">{% trans "Прадип Пракаш" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Индии" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Ваужин" %}</div>
                                <div class="description-name">{% trans "Парк" %}</div>
                                <div class="description-position">{% trans "Президент Федерации" %}</div>
                                <div class="description-country">{% trans "Южной Кореии" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Кадзухиро" %}</div>
                                <div class="description-name">{% trans "Крейг" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Японии" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Кабалинов" %}</div>
                                <div class="description-name">{% trans "Олег" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Тайланд" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Кыдыралиев" %}</div>
                                <div class="description-name">{% trans "Рамис" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Киргизистан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Ахмеджанов" %}</div>
                                <div class="description-name">{% trans "Фарход" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Таджикистан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Халки" %}</div>
                                <div class="description-name">{% trans "Ясин" %}</div>
                                <div class="description-position">{% trans "Президент Федерации" %}</div>
                                <div class="description-country">{% trans "Исламского Эмирата Афганистан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Занди" %}</div>
                                <div class="description-name">{% trans "Аббас" %}</div>
                                <div class="description-position">{% trans "Президент Федерации" %}</div>
                                <div class="description-country">{% trans "Исламской Республики Иран" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Хаянгарва" %}</div>
                                <div class="description-name">{% trans "Санджиху" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Монголии" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Кайрбаев" %}</div>
                                <div class="description-name">{% trans "Адил" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Казахстан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Ханов" %}</div>
                                <div class="description-name">{% trans "Ахмет" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Туркменистан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Реман" %}</div>
                                <div class="description-name">{% trans "Зиа Ур" %}</div>
                                <div class="description-position">{% trans "Президент Исламской" %}</div>
                                <div class="description-country">{% trans "Федерации Республики Пакистан" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Алномас" %}</div>
                                <div class="description-name">{% trans "Валид" %}</div>
                                <div class="description-position">{% trans "Президент" %}</div>
                                <div class="description-country">{% trans "Федерации Кувейт" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Мирзакулов" %}</div>
                                <div class="description-name">{% trans "Бахтиер Чориевич" %}</div>
                                <div class="description-position">{% trans "Вице-Президент" %}</div>
                                <div class="description-country">{% trans "Республики Узбекистан" %}</div>
                            </div>
                        </li>
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">{% trans "Committee" %}</button>
                <div class="hidden-box closed">
                    <h2 class="management-description asian-menegment">{% trans "Committee on educational and methodological work and on relations with the media, advertising and promotion" %}</h2>
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Юсупов" %}</div>
                                <div class="description-name">{% trans "Сухроб" %}</div>
                                <div class="description-position">{% trans "Член Коммитета" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Худайберганов" %}</div>
                                <div class="description-name">{% trans "Юнус" %}</div>
                                <div class="description-position">{% trans "Член совета" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Расулова" %}</div>
                                <div class="description-name">{% trans "Назокат" %}</div>
                                <div class="description-position">{% trans "Пресса" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-surname">{% trans "Муродова" %}</div>
                                <div class="description-name">{% trans "Маликахон" %}</div>
                                <div class="description-position">{% trans "Режиссер" %}</div>
                            </div>
                        </li>
                    </ul>
                   
                    
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
            <div class="management-wrapper">
                <button class="management-title">{% trans "Presidium" %}</button>
                <div class="hidden-box closed">
                    <ul class="management-description-list">
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">{% trans "президент" %}</div>
                                <div class="description-surname">{% trans "Астахов" %}</div>
                                <div class="description-name">{% trans "Сергей" %}</div>
                                <div class="description-country">{% trans "Российская Федерация" %}</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                        <li class="manegement-description-item">
                            <div class="description-img-wrapper">
                                <img src="../images/man2.png" alt="" class="description-img">
                            </div>
                            <div class="description-details">
                                <div class="description-position">президент</div>
                                <div class="description-surname">Астахов</div>
                                <div class="description-name">Сергей</div>
                                <div class="description-country">Российская Федерация</div>
                            </div>
                        </li>
                    </ul>
                    <i class="arrow fa-solid fa-angle-down"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}