{% extends "base/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'events-calendar/styles/events-calendar.css' %}">

{% endblock %}

{% block content %}
<div class="container">
  <h1 class="about-us-title">{% trans "International Hand-to-Hand Combat Events Calendar Plan for 2025" %}</h1>
  <table style="margin-top: 10px;">
    <thead>
      <tr>
        <th class="th">№</th>
        <th class="th">{% trans "Name of events" %}</th>
        <th class="th">{% trans "Dates of the event" %}</th>
        <th class="th">{% trans "Venue" %}</th>
        <th class="th">{% trans "Conducting organization" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in document %}
      <tr>
        <td class="td">{{ forloop.counter }}</td>
        <td class="td">{{ obj.name }}</td>
        <td class="td">{{ obj.date }}</td>
        <td class="td">{{ obj.location }}</td>
        <td class="td">{{ obj.organizers }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="file-download-btn">
    <a href="{{ document.file.url }}" tabindex="1" download="{{ document.name }}.pdf" class="download-btn">{% trans "DOWNLOAD" %}</a>
  </div>
</div>

{% endblock %}