{% extends "base/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'history/styles/history.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <main class="content">
        <section class="history-sec">
          <h2 class="section-title">История</h2>
          <p class="section-text">
            Рукопашный бой зародился в древности, когда люди стремились защитить себя и свои поселения, создавая способы
            ведения боя без использования оружия. Он развивался в разных культурах мира независимо друг от друга,
            формируясь как искусство самозащиты и боевое ремесло. Древние воины в Египте, Индии, Греции и Китае
            обучались рукопашным техникам для защиты воина и усиления военного мастерства. В Древней Греции особенно
            развились такие виды борьбы, как панкратион — древний спорт, сочетающий элементы бокса и борьбы, который был
            популярен даже на Олимпийских играх.
            На Востоке рукопашный бой получил особое развитие. В Индии зародились системы боевых искусств, такие как
            калари-паятту, которые затем распространились в Китай, дав начало кунг-фу. В Японии сформировались такие
            дисциплины, как дзюдо, айкидо, карате и дзюдзюцу, которые сегодня стали основой для различных школ боевых
            искусств и рукопашного боя во всём мире.
            В Европе также существовали свои традиции рукопашного боя. Например, французский сават и английский бокс
            развились как спортивные и военные дисциплины, а в Средние века рукопашный бой был неотъемлемой частью
            рыцарского обучения. Со временем многие из этих техник стали популярными как виды спорта.
            В XX веке армии разных стран начали разрабатывать специализированные системы рукопашного боя для подготовки
            солдат, что привело к созданию современных боевых техник. Например, в Советском Союзе была разработана
            система самбо, объединившая приёмы из дзюдо, джиу-джитсу и различных национальных видов борьбы. Эти техники
            адаптировались для боевых нужд и включали в себя не только защиту, но и методы эффективной атаки.
            Сегодня рукопашный бой используется как для спортивных, так и для военных целей. Спортивные соревнования по
            рукопашному бою включают различные ударные и борцовские техники, а также остаются популярными в тренировках
            силовых структур и служб безопасности. Множество школ и клубов обучают рукопашному бою как технике
            самозащиты, привлекая к занятиям людей разного возраста.
            Помимо физической подготовки, рукопашный бой способствует развитию духа, дисциплины и уважения к сопернику,
            формируя сильный характер и умение концентрироваться. Современные федерации рукопашного боя проводят
            международные соревнования и семинары, способствуя популяризации этого боевого искусства и делая его
            доступным для людей по всему миру. Рукопашный бой продолжает развиваться, внося вклад в физическое
            воспитание и подготовку специалистов, играя важную роль в системе спорта и обороны разных стран.
          </p>
        </section>
        <section class="about">
          <h2 class="section-title">О Федерации</h2>
          <p class="section-text">Азиатская Федерация Рукопашного Боя была создана в 2010 году и базируется в Токио,
            Япония. Федерация объединяет спортсменов, тренеров и любителей рукопашного боя с разных уголков Азии,
            содействуя развитию и популяризации традиционных и современных боевых искусств.</p>

          <p class="section-text">Основной миссией Федерации является сохранение и продвижение боевых искусств, а также
            подготовка высококвалифицированных специалистов и спортсменов, способных выступать на международном уровне.
          </p>
        </section>

        <section class="goals">
          <h2 class="section-title">Основные цели</h2>
          <ul class="goals-list">
            <li class="goal-item">Развитие рукопашного боя как вида спорта и укрепление его роли в обществе.</li>
            <li class="goal-item">Организация и проведение соревнований и чемпионатов на азиатском и международном уровне.</li>
            <li class="goal-item">Поддержка и подготовка спортсменов для участия в международных турнирах.</li>
            <li class="goal-item">Продвижение традиционных и современных боевых искусств среди молодежи.</li>
            <li class="goal-item">Сотрудничество с международными организациями для обмена опытом и повышения уровня соревнований.</li>
          </ul>
        </section>

        <section class="events-sec">
          <h2 class="section-title">События и Деятельность</h2>
          <p class="section-text">Федерация ежегодно организует множество соревнований, включая Чемпионат Азии по
            рукопашному бою, а также специальные тренировки и семинары, проводимые ведущими тренерами и мастерами боевых
            искусств. Мы также активно участвуем в образовательных программах, направленных на развитие спорта и
            привлечение молодежи к рукопашному бою.</p>

          <p class="section-text">Кроме соревнований, Федерация занимается образовательной деятельностью, организуя
            курсы и мастер-классы по технике, физической подготовке и стратегии рукопашного боя.</p>
        </section>

        <section class="values">
          <h2 class="section-title">Наши Ценности</h2>
          <p class="section-text">Азиатская Федерация Рукопашного Боя придерживается принципов уважения, дисциплины и
            взаимопомощи. Мы верим в формирование сильного характера, духовного развития и стремление к совершенству
            через спорт. Наши спортсмены и тренеры следуют этим ценностям и служат примером для молодежи и начинающих
            спортсменов.</p>
        </section>
</div>

{% endblock %}