{% extends "base/base.html" %}
{% load static %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'mainPage/styles/main_page.css' %}">
<script type="text/javascript" src="{% static 'base/scripts/slides.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
  <section class="home-section">
    <h1 class="view-box-title">{% trans "Gallery" %}</h1>
    <div class="gallery-sec general-style">
      <div class="slider">
        <ul class="slides">
          {% for image in images|slice:":13" %}
            <li class="slide">
              <img src="{{ image.file.url }}" alt="" class="slide-img" data-index="{{ forloop.counter0 }}" />
            </li>
          {% endfor %}
        <div class="navigation">
          <button class="prev">&#10094;</button>
          <button class="next">&#10095;</button>
        </div>
      </div>
      <div class="view-wrapper">
        <div class="view-box">
          <img id="banner" src="{% static 'home/images/gallery3.jpg' %}" alt="" class="big-img">
        </div>
        <ul class="gallery-list" id="galleryl">
          {% for image in images|slice:":13" %}
            <li class="gallery-item">
              <img class="gallery-img" src="{{ image.file.url }}" alt="galllery elements" data-index="{{ forloop.counter0 }}">
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="gallery-content">
        <h2 class="gallery-content-title">{{ about.title }}</h2>
        <p class="gallery-content-info">{{ about.description }}</p>



        <button class="more-btn">
          <a class="gallery-more" href="{% url 'gallery' %}">{% trans "Read more" %}</a>
        </button>
        <!-- {% url 'gallery' %} -->
      </div>
    </div>

  </section>
  <section class="home-section">
    <div class="news-wrapper">
      <a href="{% url 'antidoping' %}" class="antidoping general-style" id="clickableDoping">
      </a>
      <a href="{{ rule.file.url }}" class="hsif-tv general-style" id="clickableVid"></a>
      <a href="{% url 'history' %}" class="antidoping history general-style">
      </a>
    </div>
    <!-- events -->

    <div class="section-sc">
      <div class="sc-wrapper">
        <h3 class="contest-header">{% trans "Competitions" %}</h3>
        <div class="scroll-wrapper">
          <div class="contest-buttons-list">
            <button class="contest-button-item active" onclick="filterEvents('upcoming', this)">{% trans "The nearest" %}</button>
            <button class="contest-button-item" onclick="filterEvents('completed', this)">{% trans "Completed" %}</button>
          </div>

          <div class="events" id="eventsList">
            <!-- Ближайшие-->
            <!-- 2 -->
            <div class="event upcoming active">
              {% for obj in events %}
                <span class="fi fi-{{obj.country_code}}" style="margin-right: 10px"></span>
                <div class="events-info">
                  <p class="events-title">{{ obj.name }}</p>
                  <p class="events-date">{{ obj.from_ }} - {{ obj.to }}</p>
                </div>
              {% empty %}
                 <div class="alert alert-info text-center">
                    <span>{% trans "No events" %}</span>
                </div>
              {% endfor %}
            </div>


            <!-- завершенный-->
            <div class="event completed hidden">
              {% for obj in events_old %}
                <span class="fi fi-{{obj.country_code}}" style="margin-right: 10px"></span>
                <div class="events-info">
                  <p class="events-title">{{ obj.name }}</p>
                  <p class="events-date">{{ obj.from_ }} - {{ obj.to }}</p>
                </div>
              {% empty %}
                 <div class="alert alert-info text-center">
                    <span>{% trans "No events" %}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>


      <div class="right-news">
        <h3 class="contest-header">{% trans "News" %}</h3>
        <div class="contest-info-wrapper">
          <div class="contest-img-wrapper">
            <img src="{% static 'home/images/gallery2.jpg' %}" alt="about contest" class="contest-img">
          </div>
          <div class="contest-data">
            <p class="contest-s-info">
              {% blocktrans %}
              The first congress of the Asian Federation of Hand-to-Hand Combat is currently taking place in the capital
              of Uzbekistan,
              Tashkent. The guests who came to participate in the first Congress of the Asian Federation of Hand-to-Hand
              Combat were
              introduced by the Chairman of the Federation of Hand-to-Hand Combat of Law Enforcement Agencies of
              Uzbekistan R. Juraev.
              The participants of the congress were greeted by the Deputy Minister of Sports of Uzbekistan Sh.
              Makhmudov, the Secretary
              General of the National Olympic Committee of the Republic of Uzbekistan O. Kasimov, as well as the First
              Vice-President of
              the International Federation of Hand-to-Hand Combat Mirzakulov B., the President of the International
              Federation of Hand-to-Hand
              Combat S. Astakhov and representatives of hand-to-hand combat federations from 13 Asian countries.
              {% endblocktrans %}
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}