{% extends "base/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/styles/main.css' %}">
<link rel="stylesheet" href="{% static 'mainPage/styles/main_page.css' %}">
<script type="text/javascript" src="{% static 'base/scripts/slides.js' %}" defer></script>




{% endblock %}

{% block content %}
<div class="container">
  <section class="home-section">
    <h1 class="view-box-title">Галлерия</h1>
    <div class="gallery-sec general-style">
      <div class="slider">
        <ul class="slides">
          <li class="slide">
            <img src="{% static 'home/images/gallery6.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img7.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img8.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img9.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img10.jpg' %}" alt="" class="slide-img" />
          </li>

          <li class="slide">
            <img src="{% static 'home/images/img1.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img2.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img3.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img4.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img5.jpg' %}" alt="" class="slide-img" />
          </li>
          <li class="slide">
            <img src="{% static 'home/images/img6.jpg' %}" alt="" class="slide-img" />
          </li>
        </ul>
        <div class="navigation">
          <button class="prev">&#10094;</button>
          <button class="next">&#10095;</button>
        </div>
      </div>
      <div class="view-wrapper">
        <div class="view-box">
          <img id="banner" src="{% static 'home/images/gallery3.jpg' %}" alt="" class="big-img">
        </div>
        <ul class="gallery-list" id="galleryl">
          <li class="gallery-item">
            <img src="{% static 'home/images/img1.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img2.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img3.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img4.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img5.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img6.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img7.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img8.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img9.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/img10.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/gallery7.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/gallery5.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/gallery6.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
          <li class="gallery-item">
            <img src="{% static 'home/images/gallery4.jpg' %}" alt="photo gallery" class="gallery-img">
          </li>
        </ul>
      </div>
      <div class="gallery-content">
        <h2 class="gallery-content-title">Открытие Азиатской федерации Рукопашного боя</h2>
        <p class="gallery-content-info">В столице Узбекистана г. Ташкенте прямо сейчас проходит первый съезд Азиатской
          федерации рукопашного боя. Гостей, приехавших для участия в первом Конгрессе Азиатской федерации рукопашного боя,
          представил председатель Федерации рукопашного боя правоохранительных органов Узбекистана Р. Джураев. С приветствиями к
          участникам конгресса обратились заместитель министра спорта Узбекистана Ш. Махмудов, генеральный секретарь Национального
          олимпийского комитета Республики Узбекистан О. Касимов, так же первый вице президент международной федерации рукопашного
          боя Мирзакулов Б. И президент Международной федерации рукопашного боя С. Астахов и представители федераций рукопашного боя из 13
          стран Азии.....</p>
        <button class="more-btn">
          <a class="gallery-more" href="{% url 'gallery' %}">Подробнее</a>
        </button>
        <!-- {% url 'gallery' %} -->
      </div>
    </div>

  </section>
  <section class="home-section">
    <div class="news-wrapper">
      <a href="{% url 'antidoping' %}" class="antidoping general-style" id="clickableDoping">
      </a>
      <a href="{{ rule.file.url }}" class="hsif-tv general-style" id="clickableVid"></a>
      <a href="{% url 'history' %}" class="antidoping history general-style">
      </a>
    </div>
    <!-- events -->

    <div class="section-sc">
      <div class="sc-wrapper">
        <h3 class="contest-header">Соревнования</h3>
        <div class="scroll-wrapper">
          <div class="contest-buttons-list">
            <button class="contest-button-item active" onclick="filterEvents('upcoming', this)">Ближайшие</button>
            <button class="contest-button-item" onclick="filterEvents('completed', this)">Завершенные</button>
          </div>

          <div class="events" id="eventsList">
            <!-- Ближайшие-->
             <!-- 2 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/serbia-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Первенство Европы юниоры/юниорки (18 – 23), юноши и девушки (14-15,16-17) «Поединок» / «Самооборона»</p>
                <p class="events-date">25.01.2025 - 26.02.2025</p>
              </div>
            </div>
            <!-- 4 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/ghana-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Международный судейский и тренерский семинар «Поединок» / «Самооборона»</p>
                <p class="events-date">15.02.2025 - 28.02.2025</p>
              </div>
            </div>
            <!-- 5 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/belarus-flag.svg' %}" alt="Belarus Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Кубок мира среди полицейских мужчины и женщины «Самооборона» и «Поединок»</p>
                <p class="events-date">04.03.2025 - 08.03.2025</p>
              </div>
            </div>
            <!-- 6 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/hungary-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Чемпионат Европы мужчины и женщины «Поединок»</p>
                <p class="events-date">28.03.2025 - 30.03.2025</p>
              </div>
            </div>
            <!-- 7 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/ru.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Международный турнир юниоры/юниорки (18 – 23), юноши и девушки (14-15,16-17) (мужчины, женщины) «Поединок» / «Самооборона»</p>
                <p class="events-date">18.04.2025 - 20.04.2025</p>
              </div>
            </div>
            <!-- 8 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/ru.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Первенство мира юниоры/юниорки (18 – 23), юноши и девушки (14-15,16-17) «Самооборона»</p>
                <p class="events-date">24.04.2025 - 25.04.2025</p>
              </div>
            </div>
            <!-- 9 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/ru.svg' %}" alt="Belarus Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Кубок мира (этап) Международный турнир «Кубок Дружбы» (мужчины, женщины) «Поединок» / «Самооборона»</p>
                <p class="events-date">24.04.2025 - 27.04.2025</p>
              </div>
            </div>
            <!-- 10 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/turkey-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Конференция МФРБ</p>
                <p class="events-date">30.05.2025 - 31.05.2025</p>
              </div>
            </div>
            <!-- 11 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/turkey-flag.svg' %}" alt="Belarus Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Чемпионат мира (мужчины и женщины) «Поединок» / «Самооборона»</p>
                <p class="events-date">30.05.2025 - 01.06.2025</p>
              </div>
            </div>
            <!-- 12 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/kyrgyzstan-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Международный турнир «KYRGYSTAN OPEN» мужчины, женщины юноши и девушки (12-17лет) «Поединок» / «Самооборона»</p>
                <p class="events-date">01.07.2025 - 06.07.2025</p>
              </div>
            </div>
            <!-- 13 -->
            <div class="event upcoming">
              <img src="{% static 'home/images/uzbekistan-flag.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Международный турнир «Кубок Президента Республики Узбекистан» «Лига Чемпионов H2HFIGHT» (мужчины, женщины) «Поединок»</p>
                <p class="events-date">23.07.2025 - 25.07.2025</p>
              </div>
            </div>

            <!-- завершенный-->
            <div class="event completed">
              <img src="{% static 'home/images/ru.svg' %}" alt="Russia Flag" class="flag">
              <div class="events-info">
                <p class="events-title">Чемпионат мира по рукопашному бою</p>
                <p class="events-date">12.12.2024 - 15.12.2024</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="right-news">
        <h3 class="contest-header">Новости</h3>
        <div class="contest-info-wrapper">
          <div class="contest-img-wrapper">
            <img src="{% static 'home/images/gallery2.jpg' %}" alt="about contest" class="contest-img">
          </div>
          <div class="contest-data">
            <p class="contest-s-info">В столице Узбекистана г. Ташкенте прямо сейчас проходит первый съезд Азиатской
              федерации рукопашного боя. Гостей, приехавших для участия в первом Конгрессе Азиатской федерации
              рукопашного боя, представил председатель Федерации рукопашного боя правоохранительных органов Узбекистана Р. Джураев.
              С приветствиями к участникам конгресса обратились заместитель министра спорта Узбекистана Ш. Махмудов,
              генеральный секретарь Национального олимпийского комитета Республики Узбекистан О. Касимов, так же первый
              вице президент международной федерации рукопашного боя Мирзакулов Б. И президент Международной федерации
              рукопашного боя С. Астахов и представители федераций рукопашного боя из 13 стран Азии.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}