@media (min-width: 300px) and (max-width: 870px) {
    .container {
        width: 100%;
    }
}


@media (min-width: 300px) and (max-width: 600px) {
    .management-wrapper {
        row-gap: 7px;
    }

    .antidoping-title {
        font-size: 23px;
    }

    .doping-title, .doping-info {
        font-size: 14px;
        text-align: justify;
    }

    .internationla-documents-title {
        font-size: 18px;
    }

    .international-standart {
        font-size: 14px;
        margin-bottom: 5px;
        color: rgb(7, 7, 89);
    }
}

@media (max-width: 768px) {
    .link-button {
        width: 50%; 
        font-size: 14px;
        padding: 8px 16px;
    }
    .back-stage {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .link-button {
        width: 70%; 
        font-size: 12px;
        padding: 6px 12px;
    }
}

