@media (max-width: 1200px) {
  .home-section {
    width: 100%;
  }

  .flags {
    width: 5vw;
  }

  .centeral-content {
    width: 90vw;
  }

}

@media (max-width: 970px) {
  .view-box-title {
    font-size: 30px;
  }

  .gallery-content-title {
    font-size: 20px;
  }

  .gallery-content-info {
    font-size: 14px;
  }

  .more-btn {
    font-size: 16px;
  }

  .contest-s-info {
    font-size: 14px;
  }
  .scroll-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .contest-info-wrapper {
    width: 100%;
  }
}

@media (min-width: 872px) {
  .slider, .slides {
    display: none;
  }
}

/* Общий стиль для мобильных устройств */
@media (max-width: 870px)  {
  .container {
    width: 100%;
  }

  .view-box, .gallery-list {
    display: none!important ;
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  

  .section-sc {
    width: 100%;
    margin: 0 auto;
  }
  
  .scroll-wrapper {
    width: 100%;
  }
  
  .flags {
    display: none;
  }
  .centeral-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
      width: 100%;
  }

  .sc-wrapper {
    width: 100%;
  }
  
  .scroll-wrapper {
    width: 100%;
  }

  .right-news {
    width: 100%;
  }

  .contest-info-wrapper {
    height: auto;
    padding: 10px;
  }

  .contest-header {
    padding: 10px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .view-box-title {
    font-size: 20px;
  }
  
  .view-box {
    width: 45%;
  }
  
  .slides {
    width: 1200%;
    }

  .gallery-content {
    width: 100%;
  }

  .gallery-content-title {
    font-size: 17px;
  }

  .gallery-content-info {
    font-size: 14px;
    text-align: justify;
  }

  .news-wrapper {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .antidoping, .hsif-tv, .history {
    width: 30%;
    height: 15vh;
    margin-bottom: 10px;
  }

  .antidoping-title-m {
    display: none;
  }

  .antidoping-title-m, .history-title {
    font-size: 12px;
  }

  .contest-header {
    font-size: 22px;
  }

}

@media (max-width: 300px) {
    .contest-info-wrapper, .contest-img-wrapper, .comtest-about {
    display: none;
  }
  
}