@media (min-width: 300px) and (max-width: 870px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .about-us-wrapper {
        row-gap: 10px;
    }

    .about-us-f {
        padding: 20px;
    }

    .about-us-info, .management-description, .asian-menegment {
        font-size: 12px!important;
        text-align: justify;
    }

    .management-wrapper {
        padding: 10px;
    }
    
    .hidden-box {
        padding-top: 10px;
        row-gap: 15px;
    }

    .management-title {
        font-size: 18px;
        padding: 8px;
        }

    .management-description {
        font-size: 15px;
    }

    .management-description-list {
        grid-template-columns: auto auto;
        gap: 15px;
    }

    .manegement-description-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .description-img-wrapper {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .description-surname {
        font-size: 20px;
    }

    .description-country,
    .description-position {
        font-size: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .management-wrapper {
        padding: 20px;
    }
    
    .hidden-box {
        row-gap: 15px;
    }


    .management-description-list {
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .manegement-description-item {
        width: 100%;
    }

    .description-img-wrapper {
        width: 120px;
        height: 120px;
    }

    .description-surname {
        font-size: 22px;
    }

    .description-country,
    .description-position {
        font-size: 11px;
    }
}

@media (max-width: 770px) {
    .centeral-content {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .management-description-list {
        grid-template-columns: auto auto auto;
    }
}
