@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Unbounded;

}

:root {
    --color-primary: #F9E400;
    --color-secondary: #06113C;
    --inverted-background: #1B1A17;
    --neural-color: #9AA6AC;
    ----neural-color: #EEEEEE;
}

body {
    background: #000000;
}

nav {
    width: 100%;
}

nav > div.content-nav {
    width: 80%;
    margin: 0 auto;
}

.logo img {
    width: 172px;
    padding: 30px 0;
}

.content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-nav .items {
    display: flex;
    gap: 30px;
}

.content-nav .items a {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
}

.content-nav .items a:hover {
    font-weight: 500;
}

.lang-search {
    display: flex;
    align-items: center;
    gap: 30px;
}

.lang-search div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang-search select {
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
}

/* Hide mobile nav by default */
.nav-mobile {
    display: none;
    flex-direction: column;
    background-color: #000;
    padding: 20px;
    position: absolute;
    top: 80px;
    width: 85%;
    left: 0;
    z-index: 999;
}

.nav-mobile a {
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #333;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-toggle span {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .items, .lang-search {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-mobile.show {
        display: flex;
    }

    .content-nav .items {
        display: none;
        gap: 30px;
    }
}


/*header section*/
header {
    width: 100%;
    height: calc(100vh - 100.74px);
    background-image: url(header.png);
    background-position: center;
    background-repeat: no-repeat;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    color: white;
    font-weight: 600;
    font-size: 66px;
    line-height: 81px;
}

.header-text p {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    width: 400px;
    margin: 26px auto 35px auto;
}

.header-button {
    background-color: var(--color-primary);
    padding: 8px 20px;
    border-radius: 16px;
}

/*about us section*/

.about-us {
    width: 100%;
    height: 88vh;
    background-image: url("about-back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.about-text {
    background-image: url("about-us-back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.about-text h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 45px 230px;
    text-transform: uppercase;
}

div:has(.about-content) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.about-content {
    width: 734px;
    height: 385px;
    background: linear-gradient(180deg, rgba(6, 17, 60, 0.4) 0%, rgba(16, 46, 162, 0.4) 100%);
    padding: 40px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #F9E4004D;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.about-content p {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: white;
}

/*products-section*/

.products {
    width: 100%;
}

.products-text {
    background-image: url("products-back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.products-text h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 42px 230px;
    text-transform: uppercase;
}

.products-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cards {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.cards .col {
    width: 298px;
}

.cards .col .card {
    border-radius: 15px;
    background: #FFFFFF05;
}

.cards .card-header {
    background: #06113C33;

}

.cards .card-body {
    padding: 20px;
    background: rgba(51, 54, 82, 0.2);

}

.card-body h2 {
    color: white;
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 10px;
}

.card-body p {
    color: white;
    font-family: Unbounded;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
}

.card-body button {
    padding: 10px 15px 10px 15px;
    gap: 10px;
    border-radius: 10px;
    background: var(--color-primary);
    margin-top: 15px;
}

/* gallery text */

.gallery {
    width: 100%;
}

.gallery-text {
    background-image: url("gallery-back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-text h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 42px 230px;
    text-transform: uppercase;
}

.gallery-content {
    width: 95%;
    color: white;
    margin: 0 auto 40px auto;
}

.slick-slide {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}

/*documents section*/

.documents {
    width: 100%;
    margin-top: 120px;
}

.documents-text {
    background-image: url("documents-back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.documents-text h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 42px 230px;
    text-transform: uppercase;
}

.documents-items {
    width: 67.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
}

.documents-items a {
    font-family: Unbounded;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.36px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
}

.documents-items .item {
    width: 407px;
}

.documents-items .item img {
    border-radius: 16px;
}

.documents-items .item .button {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 16px;
}


/* news section */

.news {
    width: 100%;
    margin-top: 120px;
}

.news-text {
    background-image: url("news-back.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.news-text h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 42px 230px;
    text-transform: uppercase;
}

.news-content {
    width: 95%;
    margin: 0 auto 40px auto;
    display: flex;
}

.card-news {
    background-color: #1a1b29;
    border-radius: 12px;
    overflow: hidden;
    width: 290px;
    margin: 15px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.badges {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.badge {
    background-color: #ffffff;
    padding: 2px 12px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}

.badge.blue {
    color: #007bff;
}

.badge.green {
    color: #28a745;
}

.card-title {
    font-size: 18px;
    margin-bottom: 8px;
    color: #ffffff;
    font-weight: bold;
}

.card-description {
    font-size: 14px;
    margin-bottom: 16px;
    color: #b0b3bd;
}

.card-time {
    text-align: end;
    font-size: 12px;
    color: #8c8e99;
}

/* contact us section */


.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1b29;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.contact-info {
    flex: 1;
    padding-right: 30px;
}

.contact-info > div:first-child {
    background-image: url(contact-us-back.png);
    background-position: center;
    background-size: 330px;
    background-repeat: no-repeat;
    padding: 0 12px;
}

.gap-2 {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}

.contact-info h2 {
    font-family: Unbounded;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.68px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 14px;
    color: #cccccc;
    font-weight: 400;
}

.contact-info img {
    width: 14px;
    margin-right: 10px;
}

.map-container {
    flex: 1;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

/*footer section */


footer {
    background-color: #0f111b;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.footer-logo img {
    height: 40px;
    margin-right: 10px;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: 300;
}

.footer-nav a:hover {
    color: #f0b90b;
}

.footer-social {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.footer-social div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social a {
    font-weight: 300;
    color: #f0b90b;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #ffffff;
}

.footer-social img {
    margin-right: 8px;
}

/*scroll up */
#scrollUpBtn {
    position: fixed; /* Keeps the button in place as you scroll */
    bottom: 40px;
    right: 40px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #000000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 99;
}

#scrollUpBtn:hover {
    background-color: #d4bf00; /* Slightly darker shade for hover */
}

#scrollUpBtn.show {
    opacity: 1;
}


/* Media Queries */
@media (max-width: 1024px) {
    .header-text h1 {
        font-size: 48px;
    }

    .header-text p {
        font-size: 18px;
        width: 90%;
    }
}

@media (max-width: 768px) {
    nav > div.content-nav {
        flex-direction: row;
        gap: 20px;
    }

    .header-content {
        padding: 20px;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text p {
        font-size: 16px;
    }

    .products-content, .documents-items, .gallery-content.slider, .news-content.slider {
        flex-direction: column;
    }

    .products-content .card, .documents-items .item, .gallery-content img, .news-content .card-news {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .header-text h1 {
        font-size: 28px;
    }

    .header-text p {
        font-size: 14px;
    }

    .about-content {
        width: 410px;
        height: 470px;
        padding: 15px;
        gap: 0;
    }

    .about-content p {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
    }

    .documents-items {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0;
        padding: 10px;
    }

    .card-body h2 {
        font-size: 18px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px 0 20px 30px;
        margin: 50px 15px;
    }

    .footer-items {
        justify-content: center;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        padding-top: 20px;
        border-top: 1px solid #333;
    }

    .about-text h1, .products-text h1, .gallery-text h1, .documents-text h1, .news-text h1 {
        color: white;
        font-weight: 600;
        font-size: 24px;
        line-height: 39px;
        text-align: center;
        padding: 25px 10px;
        text-transform: uppercase;
    }

    .news {
        width: 100%;
        margin-top: 70px;
    }
}