@media (min-width: 300px) and (max-width: 870px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .section-title {
        font-size: 22px;
    }

    .back-stage {
        justify-content: center;
    }

    .section-text, .goal-item {
        font-size: 14px;
        text-align: justify;

    }

    .goals-list {
        padding-left: 0;
    }

    .goal-item:before {
        display: none;
    }
}

@media (max-width: 770px) {
    .back-stage {
        justify-content: center;
    }
}
