{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}" style="scroll-behavior: smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'base/images/logo.svg' %}">
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/styles/main.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script type="text/javascript" src="{% static 'base/scripts/main.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'base/scripts/base.js' %}" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const languageSelect = document.getElementById('languageSelect');

            languageSelect.addEventListener('change', function () {
                const selectedValue = this.value;
                if (selectedValue) {
                    // Assuming you have set up language switching URLs like /en/, /ru/, etc.
                    let list = window.location.pathname.split('/')

                    window.location.pathname = `/${selectedValue}/${list.slice(2).join('/')}`
                }
            });
        });
    </script>
    <style>
        select option {
            background-color: #000000 !important;
            margin: 12px !important;
            padding: 12px !important;
            color: white;
        }
    </style>
    {% block head %}

    {% endblock %}
    <title>{% trans "Hayat Cable" %}</title>
</head>

<body>
    <button id="scrollUpBtn" title="Go to top">&#8963;</button>
    <nav>
        <div class="content-nav">
            <div style="width: 65%; display: flex; justify-content: space-between; align-items: center;">
                <div class="logo">
                    <img src="{% static 'home/images/logo.svg' %}" alt="Logo">
                    <span class="site-name">Азиатская Федерация <br> Рокопашного боя</span>
                </div>
                <div class="items">
                    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
                    <a href="{% url 'about_us' %}">{% trans "about us" %}</a>
                    <a href="{% url 'command' %}#products">{% trans "Команда" %}</a>
                    <a href="{% url 'home' %}#gallery">{% trans "gallery" %}</a>
                    <a href="{% url 'home' %}#news">{% trans "news" %}</a>
                    <a href="{% url 'events_calendar' %}">{% trans "Календарь событий" %}</a>
                </div>
            </div>
            <div class="lang-search">
                <div>
                    <select name="language" id="languageSelect">

                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                        {% for language in languages %}
                        <option {% if language.code == CURRENT_LANGUAGE %} selected {% endif %}
                            style="background-color: transparent" value="{{ language.code }}">{{ language.code }}
                        </option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <!-- Mobile toggle button -->
            <div class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- Mobile navigation menu -->
        <div class="nav-mobile">
            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
            <a href="{% url 'about_us' %}">{% trans "about us" %}</a>
            <a href="{% url 'command' %}#products">{% trans "Команда" %}</a>
            <a href="{% url 'home' %}#gallery">{% trans "gallery" %}</a>
            <a href="{% url 'home' %}#news">{% trans "news" %}</a>
            <a href="{% url 'events_calendar' %}">{% trans "Календарь событий" %}</a>
        </div>
    </nav>
    <div class="back-stage" >
        <div class="flags">
            <div class="flags-wrapper">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            
        </div>
        <div>
        {% block content %}

        {% endblock %}
        </div>
        <div class="flags" style="width: 10vw; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
            <div class="flags-wrapper">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
            <div class="flags-wrapper" style="width: 100%;">
                <img src="{% static 'base/images/flags/china.svg' %}" alt="" class="flags-img">
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{% static 'home/images/logo.svg' %}" alt="Азиатская Федерация Рокопашного боя">
                <span class="site-name fsn">Азиатская Федерация Рокопашного боя</span>
                <span class="site-name">При цитировании материалов ссылка на пресс-службу Фeдeрации дзюдо и официальный
                    всемирный сайт www.hsif.world</span>
            </div>
            <div class="footer-items">
                <ul class="footer-nav">
                    <li class="general-color">Контакты:</li>
                    <li>
                        <p><i class="fa-solid fa-phone"></i> : 
                            <a class="type-connecting" href="tel:+998909323388">+998(90) 932-33-88</a>
                        </p>
                    </li>
                    <li><i class="fa-regular fa-envelope"></i>: 
                        <a class="type-connecting" href="mailto:ahf_h2h@yahoo.comz target=" _blank>ahf_h2h@yahoo.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer-items">
                <ul class="footer-nav">
                    <li class="general-color">Адрес</li>
                    <li>
                        <p class="type-connecting general-color">ул. Лабзак дом.1, г. Ташкент, Узбекистан</p>
                    </li>
                </ul>

            </div>
            <div class="footer-items">
                <ul class="messengers-wrapper">
                    <li>
                        <a class="type-connecting" href="https://www.instagram.com/yourpage" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="type-connecting">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="type-connecting" href="https://www.instagram.com/yourpage" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="type-connecting">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>