@media (min-width: 300px) and (max-width: 870px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .about-us, .goal-item {
        font-size: 14px;
        text-align: justify;
    }

    .fa-solid, .fa-brand, .fa-regular, .type-connecting {
        font-size: 14px;
    }
    
}
