.catalogs {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-text-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.catalogs .main-text-catalog h1 {
    font-family: Unbounded;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.72px;
    text-align: left;
}

.catalogs .main-text-catalog button {
    border-radius: 16px;
    padding: 15px 20px 15px 20px;
    background: var(--color-primary);
    outline: none;
    border: none;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.catalog-box {
    width: 33%;
}

.catalogs h1 {
    color: white;
    font-family: Unbounded;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: start;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.catalogs .catalog-box a {
    display: block;
    color: white!important;
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: start;
    margin-bottom: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 480px) {
    .catalog-box {
        width: 90%;
    }
}
